<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body align="center">
    <style>body{
        background-image: url("greybg.png");
        width: 400;
        height:300;
        background-size: cover;
        background-repeat: no-repeat;
        background-origin: content-box;
    }
    .bt{
        background-color: bisque;
        border:none;
        color: rgb(14, 15, 15);
        padding: 15px 40px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        width: 170px;
    }
    </style>
    <h1>Delete in theatre</h1>
    <form action="/dquery3/ans" method="post">
        <label class="form-label">Enter Theatre ID: 
            <select name="theatre_id" id="plactype">
                <% for(var i=0; i < data.length; i++) { %>
                    <option value="<%= data[i].theatre_id %>"><%= data[i].theatre_id %></option>
               <% } %>
            </select>
        </label><br><br>      
      <input type="submit" class="bt">
    </form>
</body>
</html>